*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #020d18;
  --color-secondary: #f1c40f;
}

body {
  font-family: 'popppins', sans-serif;
  font-size: 16px;
  background: var(--color-primary);
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  display: flex;
}

.main-header {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.8);
}

.nav-bar {
  max-width: 1200px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header ul li {
  margin-left: 20px;
}

section.now-playing {
  padding: 60px;
  background-image: url(/img/showcase-bg.jpg);
  background-size: cover;
}

section h2 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.search {
  margin-bottom: 40px;
  padding: 60px;
}

.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

#search-term {
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  color: white;
}

#tv {
  margin-left: 15px;
}

.btn {
  padding: 10px;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  background: var(--color-secondary);
  margin-left: 5px;
  height: 50px;
  width: 100px;
}

.container h2 {
  text-align: center;
  margin: 20px 0px;
  text-transform: uppercase;
}
.container {
  margin: 0px 30px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popular-movies {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 23%;
  background: #04376b;
  border: 5px solid #04376b;
  overflow: hidden;
  margin-top: 15px;
}

.card-img img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 5px 5px;
}
