*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #020d18;
  --color-secondary: #f1c40f;
}

body {
  font-family: 'Popppins', sans-serif;
  font-size: 16px;
  background: var(--color-primary);
  color: white;
  overflow-x: hidden;
}

.active {
  color: var(--color-secondary);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.nav-bar ul {
  display: flex;
}
.main-header {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.8);
}

.container {
  max-width: 1200px;
  max-width: 100%;
  align-items: center;
  padding: 0 20px;
}

.main-header .logo {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-header ul {
  display: flex;
}

.main-header li {
  margin-left: 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

section.now-playing {
  padding: 60px;
  background-image: url(/img/showcase-bg.jpg);
  background-size: cover;
}

section h2 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.search {
  margin-bottom: 40px;
  padding: 60px;
}

.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

#search-term {
  flex: 6;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  margin-right: 10px;
}

#tv {
  margin-left: 15px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  background-color: var(--color-secondary);
  color: black;
}

.btn:disabled:hover {
  background: transparent;
  cursor: not-allowed;
}

.search .container form button {
  flex: 1;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: black;
}
.search .container form button:hover {
  background: transparent;
  color: white;
}

.container-movies h2 {
  text-align: center;
  margin: 20px 0px;
  text-transform: uppercase;
}
.container-movies {
  margin: 0px 30px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popular-movies {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

#popular-shows {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

#search-results {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 250px;
  min-width: 250px;
  width: 23%;
  background: #04376b;
  border: 5px solid #04376b;
  overflow: hidden;
  margin-top: 15px;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 10px;
  font-size: 20px;
}

.main-footer {
  background: #020d18;
  margin-top: 20px;
  padding: 20px 0px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .container .social-link {
  display: flex;
  font-size: 21px;
}

.main-footer .container .social-link a {
  margin-left: 10px;
}
.main-footer .container .logo {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.pagination {
  margin-top: 20px;
}

.page-counter {
  margin-top: 10px;
}

.detail-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.detail-top p {
  margin: 20px 0;
}

.detail-top img {
  width: 400px;
  height: 100%;
  margin-right: 60px;
  object-fit: cover;
}

.back {
  margin-top: 30px;
}

.detail-top ul {
  display: block;
}

.detail-top a {
  margin-top: 20px;
}

.details-bottom li {
  margin: 15px 0px;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
  border-color: rgba(255, 255, 255, 0.1);
}

.details-bottom span {
  color: var(--color-secondary);
}

h4 {
  font-weight: bold;
}

/* swiper */
.swiper {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-rating {
  padding: 10px;
}

.alert {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.success {
  background-color: green;
}

.error {
  background: red;
}
